<div class="meta">
  <span class="date"><time datetime='{{ dateFormat "2006" .Date }}' itemprop="datePublished">{{ dateFormat "Jan 2" .Date }}</time></span>
  <br>
  {{ if .Params.categories }}
  <span class="tags">{{ partial "post/categories.html" . }}</span>
  {{ end }}
  {{ if and (and ($.Site.Params.disqus_short_name) (ne .Params.comments "false")) ($.Site.Params.disqus_show_comment_count) }}
  <span class="comments"><a href="{{ .Permalink }}#disqus_thread">Comments</a></span>
  {{ end }}
</div>
<h1 class="title" itemprop="name">{{ if $.Site.Params.titlecase }}{{ .Title | title }}{{ else }}{{ .Title }}{{ end }}</h1>
<div class="entry-content" itemprop="articleBody">{{ .Content }}</div>
